@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--bg-tertiary);
  }

  ::-webkit-scrollbar-thumb {
    background: #26C6DA;
    border-radius: 9999px;
  }
}